* {
  box-sizing: border-box;
}

::-mox-selection {
  background: #00A200;
  color: #fff;
}

::selection {
  background: #00A200;
  color: #fff;
}

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  background: #F7F7F7;
}

header {
  position: relative;
}

header h1 {
  color : #DDD;
}

header .main-timer {
  position: absolute;
  left: 45%;
  top: 150px;
}

.timer, .main-timer {
  text-transform: capitalize;
  font-weight: normal;
}
.timer span, .main-timer span {
  font-size: 64px;
  letter-spacing: 2px;
  font-weight: bold;
}

@media(max-width: 1140px) {
  header .main-timer {
    top: 100px;
    left: 42%;
  }
  header .main-timer span {
    font-size: 52px;
  }
}

@media(max-width: 1000px) {
  header .main-timer {
    top: 120px;
  }
  header .main-timer span {
    font-size: 36px;
  }
}

@media(max-width: 950px) {
  header .main-timer {
    top: 80px;
    left: 40%;
  }
  header .main-timer span {
    font-size: 32px;
  }
}

@media(max-width: 750px) {
  header .main-timer {
    left: 35%;
  }
  header .main-timer span {
    font-size: 32px;
  }
}

@media(max-width: 680px) {
  header .main-timer {
    top: 70px;
    left: 43%;
    font-size: 20px;
  }
  header .main-timer span {
    font-size: 24px;
  }
}

@media(max-width: 550px) {
  header .main-timer {
    top: 60px;
    left: 43%;
    font-size: 16px;
  }
  header .main-timer span {
    font-size: 20px;
  }
}

@media(max-width: 470px) {
  header .main-timer {
    top: 50px;
    left: 43%;
    font-size: 14px;
  }
  header .main-timer span {
    font-size: 18px;
  }
}

@media(max-width: 400px) {
  header .main-timer {
    top: 30px;
    left: 35%;
    font-size: 14px;
  }
  header .main-timer span {
    font-size: 18px;
  }
}

@media(max-width: 350px) {
  header .main-timer {
    top: 20px;
    left: 35%;
    font-size: 12px;
  }
  header .main-timer span {
    font-size: 16px;
  }
}

@media(max-width: 680px) {
  .timer span {
    font-size: 48px;
  }
}
@media(max-width: 500px) {
  .timer span {
    font-size: 36px;
  }
}
@media(max-width: 450px) {
  .timer span {
    font-size: 30px;
  }
}

/*@media(max-width: )*/

header .main-banner {
  width : 100%;
  height : 100%;
}

header .banner {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

header .banner-bg-img {
  display: block;
  width: 80%;
  height: 550px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header > img{
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
}

header .banner img {
  height: 450px;
  width: 100%;
}

@media(max-width: 670px) {
  header .banner {
    width: 100%;
  }
  header .banner-bg-img {
    height: 225px;
  }
  header > img{
    height: auto;
  }
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav ul li {
  margin: 0 10px 10px 10px;
}
nav ul li a {
  text-decoration: none;
  display: block;
  background: #00B800;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px #888;
  opacity: 0.8;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
nav ul li a:hover {
  box-shadow: 1px 4px 10px #888;
  opacity: 1;
}
@media(max-width: 600px) {
  nav ul li a {
    padding: 6px 12px;
    font-size: 16px;
  }
}
@media(max-width: 380px) {
  nav ul li a {
    padding: 5px 10px;
    font-size: 14px;
  }
}
.container {
  width: 80%;
  margin: 0 auto;
}
@media(max-width: 600px) {
  .container {
    width: 90%;
  }
}
.container section {
  color: #444;
  line-height: 1.8;
  position: relative;
  padding-bottom: 20px;
}
.container section:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #ccc;
}
.container section h1 {
  text-align: center;
  color: #666;
}
@media(max-width: 420px) {
  .container section h1 {
    font-size: 20px;
  }
  .container section h1.timer {
    font-size: 18px;
  }
  .container section h1.timer span {
    font-size: 32px;
  }
}
@media(max-width: 330px) {
  .container section h1.timer {
    font-size: 14px;
  }
  .container section h1.timer span {
    font-size: 24px;
  }
}
.container section p {
  text-align: justify;
}
.container section .location-btn {
  width: 40%;
  margin: 40px auto 20px auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-decoration: none;
  border: 2px dashed;
  border-radius: 4px;
  font-size: 32px;
  position: relative;
  opacity: 0.9;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  color: #00B800;
}
.container section .location-btn:hover {
  opacity: 1;
}
.container section .location-btn:after {
  content: "Location";
  position: absolute;
  top: 0;
  left: -20px;
  font-size: 14px;
  background: #00B800;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  letter-spacing: 2px;
}
.container section .location-btn span {
  font-size: 64px;
  padding: 0 10px;
}
@media(max-width: 1024px) {
  .container section .location-btn {
    width: 60%;
  }
}
@media(max-width: 760px) {
  .container section .location-btn {
    width: 80%;
  }
}
@media(max-width: 480px) {
  .container section .location-btn {
    width: 100%;
    font-size: 24px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container section .location-btn span {
    font-size: 48px;
    padding: 0 5px;
  }
}

.meetups ul {
  width: 80%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media(max-width: 1024px) {
  .meetups ul {
    width: 100%;
  }
}
.meetups ul li {
  width: calc(50% - 40px);
  margin: 20px;
}
@media(max-width: 760px) {
  .meetups ul li {
    width: calc(100% - 30px);
    margin: 15px;
  }
}
.meetups ul li a {
  text-align: center;
  background: orange;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px 20px;
  flex-direction: column;
}

@media(max-width: 480px){
  .meetups ul li a{
    font-size: 28px;
  }
}

.meetups ul li a img {
  width: 250px;
}
.meetups ul li a svg {
  width: 45px;
  height: 43px;
  fill: #fff;
}
.meetups ul li a span{
  font-size: 48px;
}
.meetups ul li:first-child a {
  background: #27ae60;
}
.meetups ul li:nth-child(2) a {
  background: #2980b9;
}
.meetups ul li:nth-child(3) a {
  background: #e74c3c;
}
.meetups ul li:nth-child(3) a img {
  width: 200px;
}
.meetups ul li:last-child a {
  background: #2c3e50;
}

.meetups ul li:last-child a img {
  width: 150px;
}

header .main-timer {
  position: absolute;
  margin-top : 12%;
  left : 47%;
}

.timer {
  text-transform: capitalize;
  font-weight: normal;
}
.timer span {
  font-size: 64px;
  letter-spacing: 2px;
  font-weight: bold;
}
@media(max-width: 680px) {
  .timer span {
    font-size: 48px;
  }
}
@media(max-width: 500px) {
  .timer span {
    font-size: 36px;
  }
}
@media(max-width: 450px) {
  .timer span {
    font-size: 30px;
  }
}

.faq {
  width: 80%;
  margin: 0 auto;
}
@media(max-width: 480px) {
  .faq {
    width: 100%;
  }
}
.faq h3.question {
  margin-bottom: 0;
}
.faq p.answer {
  margin: 0;
}

footer {
  width: 100%;
  height: 100px;
  background: #333;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
footer a {
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #3b5998;
  box-shadow: 1px 2px 4px #111;
  text-transform: capitalize;
  transition: all 0.3s;
}
footer a:hover{
  box-shadow: 1px 4px 4px #111;
}
footer p {
  padding: 0;
  margin: 0;
}
